In [26]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import requests
import pprint
import json

In [15]:
import time

In [85]:
def key_to_lat_lon(key):
    url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={keyword}'.format(keyword=key)
    headers = {"Authorization": "KakaoAK " + '...'}
    result = json.loads(str(requests.get(url, headers=headers).text))
    return result['documents'][0]['x'], result['documents'][0]['y']
    #match_first = result['documents'][0]['place_name']
    #return float(match_first['x']), float(match_first['y'])

In [86]:
key_to_lat_lon('88JC')

('126.820343344967', '37.5840623931627')

ÏôÄ.. Ïù¥Î†áÍ≤å Í∞ÑÎã®Ìï† ÏàòÍ∞Ä..........! ÏùºÏùºÏù¥ Îã§ Ï∞æÍ≥† ÏûàÏóàÎÑ§.. „Öé„Öé </br>
Í≥∞ÏïÑÏõåÏöî Ïπ¥Ïπ¥Ïò§ „Ö†„Ö† üñ§

In [11]:
df = pd.read_excel("real_newthing.xlsx")

In [14]:
result = df['Íµ¨Í∞ÑÎ™Ö'].str.split(' ~ ')
result = result.apply(lambda x: pd.Series(x))
result

           0       1
0       88JC  ÍπÄÌè¨Í≥µÌï≠IC
1       88JC    Î∂ÅÎ°úJC
2       Í∞êÍ≥°IC    Ïó¨Ï£ºJC
3       Í∞êÍ≥°IC    Ïó¨Ï£ºJC
4       Í∞êÍ≥°IC    Ïó¨Ï£ºJC
...      ...     ...
8338   ÌôîÏÑ±Ìú¥Í≤åÏÜå    ÎπÑÎ¥âIC
8339    Ìù•ÎçïIC  Í¥ëÍµêÏÉÅÌòÑIC
8340  Ìù•Ï≤úÏù¥Ìè¨IC    ÎåÄÏã†IC
8341  Ìù•Ï≤úÏù¥Ìè¨IC  ÎèôÍ≥§ÏßÄÏïîIC
8342  Ìù•Ï≤úÏù¥Ìè¨IC  ÎèôÍ≥§ÏßÄÏïîIC

[8343 rows x 2 columns]

In [30]:
result.rename(columns={0:'0',1:'1'},inplace=True)

           0       1
0       88JC  ÍπÄÌè¨Í≥µÌï≠IC
1       88JC    Î∂ÅÎ°úJC
2       Í∞êÍ≥°IC    Ïó¨Ï£ºJC
3       Í∞êÍ≥°IC    Ïó¨Ï£ºJC
4       Í∞êÍ≥°IC    Ïó¨Ï£ºJC
...      ...     ...
8338   ÌôîÏÑ±Ìú¥Í≤åÏÜå    ÎπÑÎ¥âIC
8339    Ìù•ÎçïIC  Í¥ëÍµêÏÉÅÌòÑIC
8340  Ìù•Ï≤úÏù¥Ìè¨IC    ÎåÄÏã†IC
8341  Ìù•Ï≤úÏù¥Ìè¨IC  ÎèôÍ≥§ÏßÄÏïîIC
8342  Ìù•Ï≤úÏù¥Ìè¨IC  ÎèôÍ≥§ÏßÄÏïîIC

[8343 rows x 2 columns]

In [106]:
a = result['0'].unique()
arr = np.delete(a, 9)

In [107]:
rr = np.array(arr) # Ìä∏ÎûòÌîΩ Ï†úÌïú ÏûàÏñ¥ÏÑú ÏùºÎã®ÏùÄ unique Ìïú Í∞íÎì§Îßå
rr_list = rr.tolist()

In [112]:
ainlist = []
binlist = []
for i in rr_list:
  try:
    ainlist.append(i)
    binlist.append(key_to_lat_lon(i))
    print(key_to_lat_lon(i))
  except Exception:
    pass
    print(i,'ÏóêÏÑú ÏóêÎü¨ÎÇ®üí®')

('126.820343344967', '37.5840623931627')
('127.670103878549', '37.1245612761955')
('127.165506102561', '37.5729828463899')
('127.624573514836', '37.7346229537189')
('126.618394195987', '37.6006109294591')
('127.250262331111', '37.410371553818')
('126.892920281305', '37.5298708790406')
('126.748743708058', '37.5440825381865')
('127.090818509852', '37.4277425113959')
('126.817907022102', '37.656472751337')
('127.320896552992', '37.3524491298736')
('126.488891392266', '37.4853349902335')
('126.507432262175', '37.5056141222191')
('127.060580385778', '37.2986303043939')
('126.849982633355', '37.4397918553313')
('126.879288525121', '37.4041271029948')
('127.269617440473', '37.4479625662318')
('127.141634605006', '37.6154397640065')
('127.157002565141', '37.5897096803078')
('126.768588553383', '37.3630054106323')
('126.780181587169', '37.3576213691021')
('126.922595162914', '37.3260912390494')
('127.101572991327', '37.3497808755499')
('126.890713888198', '37.4602102468631')
('126.895052523474', '37.4387772674996')
('127.10100058451', '37.2222339686784')
('127.097135215168', '37.2164416569544')
('127.104569706395', '37.2350185326893')
('126.775569105246', '37.5974321375432')
('126.767616233013', '37.5927820561619')
('126.791097867713', '37.583844872726')
('126.857630517962', '37.4110877116011')
('127.135189247836', '37.5787914213727')
('126.926351776055', '37.3243672583681')
('126.712242074914', '37.4337919203709')
('127.137916533018', '37.6726458030119')
('126.749998591163', '37.3304224752977')
('127.244313236593', '36.975933373217')
('127.154655762102', '37.6002759940483')
('127.241213033492', '37.597575626585')
('127.467292907577', '37.4809465395503')
('127.44135605579378', '37.186088725671404')
('126.764412590284', '37.4320477180501')
('126.625600293236', '37.514769442323')
('126.753233242803', '37.5703145700844')
('126.437397930358', '37.5273431974637')
('126.603228006176', '37.6476750461805')
('127.473076402287', '36.9409435200373')
('127.581750383404', '37.3846472518796')
('127.207685290828', '37.5924857226959')
('127.365167955447', '37.2414577437089')
('126.849009548589', '37.3954208911771')
('127.400659883125', '37.3808979664337')
('126.93469242818782', '37.32893047892284')
('127.221113661979', '37.5172029370523')
ÎèôÏÑúÏö∏ÎßåÎÇ®Ìú¥Í≤åÏÜå ÏóêÏÑú ÏóêÎü¨ÎÇ®üí®
('127.050303904582', '37.2996947374399')
('126.864702780378', '37.3928125094085')
('126.935856120963', '37.2979364305229')
('127.753285092779', '37.3995546394301')
('127.673504175791', '37.4002522473509')
('127.112385053696', '37.7205291136635')
('127.095932338504', '37.1775784604366')
('127.091899066025', '37.2168675261475')
('127.105679277581', '37.4127552425511')
('126.905093396643', '37.3223590327468')
('127.176413747802', '37.2834886413572')
('127.415588267951', '37.2533474213')
('127.043140747618', '37.4594852424923')
('127.180928848988', '36.8555526026702')
('126.89728834965', '37.2775421780685')
('126.871562444292', '37.3965503884925')
('127.826613052916', '37.3119665462099')
('126.675758243892', '37.4362995967686')
('127.188497871784', '37.5809744203531')
('127.121916467819', '37.7477541566614')
('127.018565554477', '37.5030788686325')
('126.882328025302', '37.1236214772398')
('127.117283808192', '37.6593192012037')
('126.956377632314', '37.2294773826114')
('126.966609149657', '37.2095314861636')
('126.960583405915', '37.3238718263062')
('126.777014975207', '37.5241911881222')
('126.7222046074', '37.5238227074246')
('126.833256331126', '37.5954482478014')
('126.990947547185', '37.3185583437345')
('127.526538180081', '37.3728179638419')
('127.056718029395', '37.1836335780999')
('126.987675019441', '37.4064550467328')
('126.61131184854', '37.5540535409461')
('127.451320524853', '36.9454326812556')
('127.189144358878', '36.896756121154')
('127.006496149403', '37.3986995217688')
('126.623077929212', '37.5592741963233')
('126.992515813129', '37.0664293870226')
('126.882263396973', '37.2436490022669')
('127.244294327743', '37.4786519471684')
('126.927918311855', '37.3757737206854')
('126.913251174025', '37.42666344655699')
('127.1794680357', '37.5488662186772')
('126.634426785404', '37.675086257717')
('127.062865670955', '37.361178751893')
('126.863468919711', '37.3558150189813')
('127.056656489507', '37.3241567622167')
('126.80154918573', '37.351514143351')
('127.159977999984', '37.0338470467368')
ÏÑúÏó¨Ï£º(Ìú¥) ÏóêÏÑú ÏóêÎü¨ÎÇ®üí®
('127.582385312667', '37.3043238251196')
('126.998355958526', '37.1764675357893')
('126.752082551972', '37.5267687998923')
('127.103521877713', '37.3651975689158')
('127.858886768882', '37.3942251969019')
('127.391208263926', '37.2775422134217')
('126.690580534073', '37.5235314551845')
('127.370172299466', '37.634286457028')
('126.738517411937', '37.4329303267572')
('127.025973201198', '37.4834066843978')
('127.070043085453', '37.3883676565773')
('126.86915311353', '36.9980522279012')
('126.888564603894', '37.0542596545645')
('127.151574031752', '37.5123355066532')
('126.906289300975', '37.4240208552966')
('127.170524528222', '37.8463020872058')
('127.495617447954', '37.6696309102942')
('127.123437517396', '37.4272516303309')
('127.123071451927', '37.4355269435527')
('127.131892367963', '37.7988785104924')
('127.143310553418', '37.8154536203111')
('126.747123578917', '37.4876872037478')
('126.652674980567', '37.4032533052577')
('126.759801850646', '37.2096927291568')
('126.971171410296', '37.7107225092722')
('127.108026062855', '37.0347851669465')
('127.128792856189', '37.4747617394354')
('127.103802197568', '37.2670098653387')
('126.898903650157', '37.4789477411101')
('126.803456315787', '37.4510944321518')
('127.103648843423', '37.2900153417712')
('127.380200542477', '37.2931227106735')
('127.217046957023', '37.914081203383')
('126.48960144860565', '37.45807016348172')
('126.834864591611', '37.5255512468868')
('126.781364708231', '37.4306530806875')
('127.013646732442', '37.1955907326583')
('126.842019705309', '37.3488071546109')
('126.86016296122', '37.3442059121992')
('127.15397419735', '36.9950148672319')
('127.138986582312', '37.0359784052323')
('127.144689822531', '37.0135563756407')
('126.816577236489', '37.4372939778016')
('127.040009752607', '37.463533689681')
('127.031899665859', '37.774074253494')
('127.294369723648', '37.2393878768197')
('126.987201130675', '37.056852328706')
('127.116284728048', '37.4221230851379')
('127.653573413011', '37.2528496032218')
('127.590280331137', '37.2320366278668')
('127.56963287593969', '37.23789264946814')
('126.629522696581', '37.4094468877871')
('127.084192343459', '37.1434517141878')
('127.036525986801', '37.1790461441514')
('126.993878547957', '37.0113052103867')
('127.209708774732', '37.2567058990997')
('127.242318120617', '37.2455536281006')
('126.753241422768', '37.3876660227533')
('127.054822721202', '37.6932920335997')
('127.496589129365', '37.2452612776321')
('127.378367948561', '37.2938097636899')
('126.748367523291', '37.5240291110725')
('126.668121362756', '37.5698501019338')
('126.804687355174', '37.6361903121525')
('127.451395952706', '37.0904112593107')
('126.894833941224', '37.4237877672282')
('127.192711763614', '36.9430053025821')
('126.798701027861', '37.6176307655877')
('127.016056291369', '37.5097538823881')
('126.754600251354', '37.4668104096828')
('126.970777843217', '37.1849338594654')
('126.632206619123', '37.446364333068')
('126.868927450731', '37.368795975382')
('126.818401796996', '37.1187255132144')
('127.104776752218', '37.3324026187663')
('126.748065731418', '37.5061201609397')
('127.11459880103', '37.6112380746607')
('127.475122709042', '36.8683581052885')
('127.16862816782', '36.8260720992574')
('127.024984280258', '37.3928187929451')
('126.9194737918712', '37.04869079193443')
('127.324509432102', '37.3715842185326')
('127.157608044202', '37.5825982440052')
('126.885817098877', '37.6740010123988')
('127.133371856826', '37.638824573798')
('127.100616924557', '37.3978784090801')
('127.094713623865', '37.4058447047289')
('126.894723218852', '37.3090591101917')
('126.965990892245', '37.3819105557798')
('126.971560519437', '37.0315329890499')
('127.219470692587', '37.8816535525729')
('127.220111829496', '37.5258003588098')
('127.19631658709', '37.5319114473726')
('127.001522162374', '37.3872531008002')
('126.65134889404', '37.4369076789693')
('127.012964753831', '37.5270787536836')
('126.80751283204998', '36.94476098916784')
('127.000522168518', '37.1297458305488')
('127.092518230166', '37.464848554996')
('127.427164981905', '37.2350583920676')
('127.311299808984', '37.6318075886669')
('126.87914101492', '37.1435857940843')
('127.079345318541', '37.2786918516755')
('127.515792793563', '37.3784480059131')

In [115]:
ainlist.remove('ÎèôÏÑúÏö∏ÎßåÎÇ®Ìú¥Í≤åÏÜå')
ainlist.remove('ÏÑúÏó¨Ï£º(Ìú¥)')

In [136]:
stnEnd = pd.DataFrame(ainlist,binlist,columns=[0])

In [137]:
stnEnd = stnEnd.reset_index(drop=False)
stnEnd = stnEnd.rename(columns={'index':'Xcode,Ycode',0:'name'})

In [138]:
stnEnd

                              Xcode,Ycode    name
0    (126.820343344967, 37.5840623931627)    88JC
1    (127.670103878549, 37.1245612761955)    Í∞êÍ≥°IC
2    (127.165506102561, 37.5729828463899)    Í∞ïÏùºIC
3    (127.624573514836, 37.7346229537189)    Í∞ïÏ¥åIC
4    (126.618394195987, 37.6006109294591)  Í≤ÄÎã®ÏñëÏ¥åIC
..                                    ...     ...
204  (127.427164981905, 37.2350583920676)    Ìò∏Î≤ïJC
205  (127.311299808984, 37.6318075886669)    ÌôîÎèÑIC
206   (126.87914101492, 37.1435857940843)   ÌôîÏÑ±Ìú¥Í≤åÏÜå
207  (127.079345318541, 37.2786918516755)    Ìù•ÎçïIC
208  (127.515792793563, 37.3784480059131)  Ìù•Ï≤úÏù¥Ìè¨IC

[209 rows x 2 columns]

Í≥†ÏÜçÎèÑÎ°úÏ¢ÖÏ†ê, ÎèôÏÑúÏö∏ÎßåÎÇ®Ìú¥Í≤åÏÜå, ÏÑúÏó¨Ï£º(Ìú¥) Îäî ÏßÅÏ†ë

## ÏµúÏ¢Ö ^.^

In [142]:
a = result['1'].unique()
rr = np.array(a) 
rr_list = rr.tolist()

ainlist = []
binlist = []
for i in rr_list:
  try:
    ainlist.append(i)
    binlist.append(key_to_lat_lon(i))
    print(key_to_lat_lon(i))
  except Exception:
    pass
    print(i,'ÏóêÏÑú ÏóêÎü¨ÎÇ®üí®')

('126.791097867713', '37.583844872726')
('126.833256331126', '37.5954482478014')
('127.590280331137', '37.2320366278668')
('127.1794680357', '37.5488662186772')
('127.157608044202', '37.5825982440052')
('127.495617447954', '37.6696309102942')
('126.603228006176', '37.6476750461805')
('126.623077929212', '37.5592741963233')
('127.320896552992', '37.3524491298736')
('127.269617440473', '37.4479625662318')
('127.415588267951', '37.2533474213')
('127.244294327743', '37.4786519471684')
('126.834864591611', '37.5255512468868')
('126.753233242803', '37.5703145700844')
('126.752082551972', '37.5267687998923')
('127.070043085453', '37.3883676565773')
('127.092518230166', '37.464848554996')
('126.625600293236', '37.514769442323')
('126.804687355174', '37.6361903121525')
('126.885817098877', '37.6740010123988')
('127.250262331111', '37.410371553818')
('127.391208263926', '37.2775422134217')
('126.507432262175', '37.5056141222191')
('126.48960144860565', '37.45807016348172')
('126.629522696581', '37.4094468877871')
('126.488891392266', '37.4853349902335')
('126.61131184854', '37.5540535409461')
('127.056656489507', '37.3241567622167')
('127.079345318541', '37.2786918516755')
('126.816577236489', '37.4372939778016')
('126.894833941224', '37.4237877672282')
('126.871562444292', '37.3965503884925')
('127.154655762102', '37.6002759940483')
('127.133371856826', '37.638824573798')
('126.780181587169', '37.3576213691021')
('126.749998591163', '37.3304224752977')
('126.753241422768', '37.3876660227533')
('126.768588553383', '37.3630054106323')
('126.80154918573', '37.351514143351')
('126.93469242818782', '37.32893047892284')
('126.905093396643', '37.3223590327468')
('126.935856120963', '37.2979364305229')
('126.956377632314', '37.2294773826114')
('126.857630517962', '37.4110877116011')
('127.097135215168', '37.2164416569544')
('127.095932338504', '37.1775784604366')
('127.103802197568', '37.2670098653387')
('127.10100058451', '37.2222339686784')
('126.767616233013', '37.5927820561619')
('126.798701027861', '37.6176307655877')
('126.775569105246', '37.5974321375432')
('126.820343344967', '37.5840623931627')
('126.895052523474', '37.4387772674996')
('126.864702780378', '37.3928125094085')
('127.11459880103', '37.6112380746607')
('126.675758243892', '37.4362995967686')
('126.738517411937', '37.4329303267572')
('127.112385053696', '37.7205291136635')
('126.759801850646', '37.2096927291568')
('127.451320524853', '36.9454326812556')
('127.159977999984', '37.0338470467368')
('127.141634605006', '37.6154397640065')
('127.157002565141', '37.5897096803078')
('127.207685290828', '37.5924857226959')
('127.311299808984', '37.6318075886669')
('127.526538180081', '37.3728179638419')
('127.451395952706', '37.0904112593107')
('127.427164981905', '37.2350583920676')
('126.781364708231', '37.4306530806875')
Í≥†ÏÜçÎèÑÎ°úÏ¢ÖÏ†ê ÏóêÏÑú ÏóêÎü¨ÎÇ®üí®
('126.748743708058', '37.5440825381865')
('126.668121362756', '37.5698501019338')
('127.040009752607', '37.463533689681')
('127.094713623865', '37.4058447047289')
('126.618394195987', '37.6006109294591')
('126.634426785404', '37.675086257717')
('127.475122709042', '36.8683581052885')
('127.673504175791', '37.4002522473509')
('127.515792793563', '37.3784480059131')
('127.241213033492', '37.597575626585')
('127.188497871784', '37.5809744203531')
('127.294369723648', '37.2393878768197')
('126.868927450731', '37.368795975382')
('127.324509432102', '37.3715842185326')
('126.922595162914', '37.3260912390494')
('126.960583405915', '37.3238718263062')
('127.220111829496', '37.5258003588098')
('126.990947547185', '37.3185583437345')
('127.103648843423', '37.2900153417712')
('126.926351776055', '37.3243672583681')
('127.101572991327', '37.3497808755499')
('127.858886768882', '37.3942251969019')
('127.581750383404', '37.3846472518796')
('127.753285092779', '37.3995546394301')
('127.137916533018', '37.6726458030119')
('127.121916467819', '37.7477541566614')
('127.084192343459', '37.1434517141878')
('127.056718029395', '37.1836335780999')
('127.006496149403', '37.3986995217688')
('127.116284728048', '37.4221230851379')
('126.86016296122', '37.3442059121992')
('127.209708774732', '37.2567058990997')
('127.380200542477', '37.2931227106735')
('126.437397930358', '37.5273431974637')
('127.16862816782', '36.8260720992574')
('126.882263396973', '37.2436490022669')
('126.894723218852', '37.3090591101917')
('126.879288525121', '37.4041271029948')
('127.653573413011', '37.2528496032218')
('126.712242074914', '37.4337919203709')
('126.632206619123', '37.446364333068')
('127.131892367963', '37.7988785104924')
('127.025973201198', '37.4834066843978')
('127.012964753831', '37.5270787536836')
('126.888564603894', '37.0542596545645')
('126.87914101492', '37.1435857940843')
('127.054822721202', '37.6932920335997')
('126.966609149657', '37.2095314861636')
('126.970777843217', '37.1849338594654')
('126.748367523291', '37.5240291110725')
('126.690580534073', '37.5235314551845')
('127.050303904582', '37.2996947374399')
('127.467292907577', '37.4809465395503')
('127.582385312667', '37.3043238251196')
('127.091899066025', '37.2168675261475')
('127.036525986801', '37.1790461441514')
('126.913251174025', '37.42666344655699')
('127.244313236593', '36.975933373217')
('127.473076402287', '36.9409435200373')
('127.180928848988', '36.8555526026702')
('127.192711763614', '36.9430053025821')
('127.105679277581', '37.4127552425511')
('126.987675019441', '37.4064550467328')
('126.987201130675', '37.056852328706')
('127.000522168518', '37.1297458305488')
('126.89728834965', '37.2775421780685')
('127.221113661979', '37.5172029370523')
('126.965990892245', '37.3819105557798')
('126.906289300975', '37.4240208552966')
('127.165506102561', '37.5729828463899')
('127.19631658709', '37.5319114473726')
('127.060580385778', '37.2986303043939')
('127.062865670955', '37.361178751893')
('126.842019705309', '37.3488071546109')
('127.138986582312', '37.0359784052323')
ÏÑúÏó¨Ï£º(Ìú¥) ÏóêÏÑú ÏóêÎü¨ÎÇ®üí®
('127.013646732442', '37.1955907326583')
('126.748065731418', '37.5061201609397')
('127.100616924557', '37.3978784090801')
('127.378367948561', '37.2938097636899')
('126.7222046074', '37.5238227074246')
('126.764412590284', '37.4320477180501')
('127.018565554477', '37.5030788686325')
('127.090818509852', '37.4277425113959')
('126.80751283204998', '36.94476098916784')
('126.882328025302', '37.1236214772398')
('126.86915311353', '36.9980522279012')
('126.818401796996', '37.1187255132144')
('126.9194737918712', '37.04869079193443')
('127.128792856189', '37.4747617394354')
('127.143310553418', '37.8154536203111')
('127.219470692587', '37.8816535525729')
('127.624573514836', '37.7346229537189')
('127.370172299466', '37.634286457028')
('127.123071451927', '37.4355269435527')
('127.123437517396', '37.4272516303309')
('127.170524528222', '37.8463020872058')
('126.754600251354', '37.4668104096828')
('127.031899665859', '37.774074253494')
('126.971560519437', '37.0315329890499')
('127.151574031752', '37.5123355066532')
('127.104569706395', '37.2350185326893')
('126.803456315787', '37.4510944321518')
('126.898903650157', '37.4789477411101')
('127.176413747802', '37.2834886413572')
('127.104776752218', '37.3324026187663')
('126.892920281305', '37.5298708790406')
('126.777014975207', '37.5241911881222')
('126.998355958526', '37.1764675357893')
('126.863468919711', '37.3558150189813')
('127.189144358878', '36.896756121154')
('127.108026062855', '37.0347851669465')
('127.144689822531', '37.0135563756407')
('127.15397419735', '36.9950148672319')
('126.849982633355', '37.4397918553313')
('126.849009548589', '37.3954208911771')
('127.043140747618', '37.4594852424923')
('126.971171410296', '37.7107225092722')
('127.365167955447', '37.2414577437089')
('127.242318120617', '37.2455536281006')
('126.992515813129', '37.0664293870226')
('127.826613052916', '37.3119665462099')
('127.670103878549', '37.1245612761955')
('127.56963287593969', '37.23789264946814')
('127.496589129365', '37.2452612776321')
('126.652674980567', '37.4032533052577')
('126.65134889404', '37.4369076789693')
('127.117283808192', '37.6593192012037')
('126.817907022102', '37.656472751337')
('127.44135605579378', '37.186088725671404')
('126.890713888198', '37.4602102468631')
('126.747123578917', '37.4876872037478')
('126.927918311855', '37.3757737206854')
('127.103521877713', '37.3651975689158')
('127.135189247836', '37.5787914213727')
('127.001522162374', '37.3872531008002')
('127.400659883125', '37.3808979664337')
('127.024984280258', '37.3928187929451')
('126.993878547957', '37.0113052103867')
('127.217046957023', '37.914081203383')
ÎèôÏÑúÏö∏ÎßåÎÇ®Ìú¥Í≤åÏÜå ÏóêÏÑú ÏóêÎü¨ÎÇ®üí®
('127.016056291369', '37.5097538823881')

In [143]:
ainlist.remove('ÎèôÏÑúÏö∏ÎßåÎÇ®Ìú¥Í≤åÏÜå')
ainlist.remove('ÏÑúÏó¨Ï£º(Ìú¥)')
ainlist.remove('Í≥†ÏÜçÎèÑÎ°úÏ¢ÖÏ†ê')

stnEnd2 = pd.DataFrame(ainlist,binlist,columns=[0])

stnEnd2 = stnEnd2.reset_index(drop=False)
stnEnd2 = stnEnd2.rename(columns={'index':'Xcode,Ycode',0:'name'})

In [144]:
stnEnd2

                              Xcode,Ycode    name
0     (126.791097867713, 37.583844872726)  ÍπÄÌè¨Í≥µÌï≠IC
1    (126.833256331126, 37.5954482478014)    Î∂ÅÎ°úJC
2    (127.590280331137, 37.2320366278668)    Ïó¨Ï£ºJC
3      (127.1794680357, 37.5488662186772)    ÏÉÅÏùºIC
4    (127.157608044202, 37.5825982440052)    ÌÜ†ÌèâIC
..                                    ...     ...
204  (127.400659883125, 37.3808979664337)  ÎèôÍ≥§ÏßÄÏïîIC
205  (127.024984280258, 37.3928187929451)   Ï≤≠Í≥ÑT/G
206  (126.993878547957, 37.0113052103867)    Ïò§ÏÑ±IC
207   (127.217046957023, 37.914081203383)    Ïã†Î∂ÅIC
208  (127.016056291369, 37.5097538823881)    Ïû†ÏõêIC

[209 rows x 2 columns]

In [145]:
stnEnd.to_csv('stnEnd.csv')

In [146]:
stnEnd2.to_csv('stnEnd2.csv')